.about {
  padding: 46px 15px;
  width: 100%;
  background-color: $color-light;

  @include for-large-up {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article {
  @include for-large-up {
    width: 555px;
  }

  &-last {
    margin-top: 20px;

    @include for-large-up {
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
  }

  &__text {
    font-size: 22px;
    line-height: 32px;
  }
}
