.audience {
    background: #00a2c683;

    &__visitors {
        text-align: center;
    }

    &__subtitle {
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.357px;

        margin: 17px 0 18px 0;
    }

    &__description {
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;

        margin-bottom: 30px;
    }

    &__button-more {
        max-width: 100%;
        background-color: #fff;
    }
}