.customers {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px 0 106px 0;
    flex-direction: row;
  }

  &__row {
    display: flex;
    justify-content: center;

    @include for-large-up {
      flex: 1;
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 94px;
    min-width: 107px;
    border-bottom: 1px solid $bottom-color;
    border-right: 1px solid $bottom-color;
    flex: 1;

    &:last-child {
      border-right: none;
    }

    @include for-large-up {
      border: none;
    }
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}
