.customers {
  display: flex;
  flex-direction: column;
}

.customers__row {
  display: flex;
  justify-content: center;
}

.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 94px;
  min-width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  flex: 1;
}

.customers__item:last-child {
  border-right: none;
}

.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

@media screen and (min-width: 400px) {
  .customers {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px 0 106px 0;
    flex-direction: row;
  }

  .customers__row{
    flex: 1;
    justify-content: space-around;
  }

  .customers__item {
    border: none;
  }
}
