/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;

  &__description {
    display: none;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: $text-color-light-grey;

    @include for-large-up {
      line-height: 26px;
      font-size: 18px;
      display: block;
      margin-top: 26px;
      color: $text-color-light-grey;
    }
  }

  &__line {
    border-top: 1px solid #000;
    opacity: 0.1;
    margin-top: 40px;
    margin-bottom: 30px;

    @include for-large-up {
      margin: 0;
    }
  }

  .logo {
    @include for-large-down {
      display: none;
    }
  }

}

.footer-navigator {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 44px;

  @include for-large-up {
    display: flex;
    flex-direction: row;
    width: 1140px;
    height: 338px;

    margin: 0 auto;
    padding-top: 44px;
  }
}

.footer-links {
  @include for-large-up {
    width: 1140px;
    height: 50px;

    flex-direction: row;
    margin: 0 auto;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
  margin-left: 15px;
}



/* TERMS */
.terms {
  @include for-large-up {
    line-height: 50px;
    margin: 0;
  }

  margin: 30px 0;
  font-size: 14px;

  &__items {
    color: $text-color-light-grey;
    text-decoration: none;
    margin-right: 22px;
  }
}



/* SOCIAL */
.social-links {
  @include for-large-up {
    margin-left: auto;
    margin-bottom: 0;
  }

  margin: 0;
  margin-bottom: 23px;

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0px;
    }
  }

}


/* dowloads */
.dowloads {
  @include for-large-up {
    margin-top: 25px;
    justify-content: left;
  }

  display: flex;
  justify-content: center;

  &__item {
    margin-right: 10px;
  }
}



/* additional NAV */
.additional-navigation {
  display: flex;
  margin-left: 15px;
  flex-direction: column;

  @include for-large-up {
    margin-left: auto;
    flex-direction: row;
  }

  &__column {
    margin-bottom: 30px;
    margin-right: 29px;

    @include for-large-up {
      margin-bottom: 0px;
      margin-right: 29px;
    }
  }
}


/* NAV-LINKS */
.nav-links {
  width: 265px;

  &__title {
    color: $color-reset-body;
    font-size: 22px;
    font-weight: 700;
  }

  &__list-item {
    color: $text-color-light-grey;
    font-size: 18px;
    line-height: 30px;
  }
}



/* logo-footer */
.logo-footer {
  margin: 0;
}

.logo-vertikal {

  @include for-large-up {
    display: none;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin: 20px 0 31px 0;
    text-align: center;
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  &__description {
    color: $text-color-light-grey;
    font-size: 18px;
    line-height: 25px;
  }
}