.footer {
	display: flex;
	flex-direction: column;

	&__description {
		display: none;
		line-height: 1.5;
		font-size: 18px;
		width: 360px;
		margin: 26px 0 0 0;
		color: $text-color-light-grey;

		@include for-large-up {
			line-height: 1.5;
			font-size: 18px;
			display: block;
			margin-top: 26px;
			color: $text-color-light-grey;
		}
	}

	&__line {
		border-top: 1px solid #000;
		opacity: 0.1;
		margin: 40px 0 30px 0;
		@include for-large-up {
			margin: 0;
		}
	}

	.logo {
		@include for-large-down {
			display: none;
		}

		&__img {
			width: 60px;
			height: auto;
		}
	}
}

.footer-navigator {
	display: flex;
	flex-direction: column;
	margin: 0;

	@include for-large-up {
		display: flex;
		flex-direction: row;
		width: 1140px;
		height: 338px;
		margin: 0 auto;
	}
}

.footer-links {
	@include for-large-up {
		width: 1140px;
		height: 50px;

		flex-direction: row;
		margin: 0 auto;
		align-items: center;
	}

	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.terms {
	@include for-large-up {
		line-height: 50px;
		margin: 0;
	}

	margin: 22px 0 30px 0;
	font-size: 14px;

	&__items {
		color: $text-color-light-grey;
		text-decoration: none;
		margin-right: 11px;
	}
}

.social-links {
	@include for-large-up {
		margin-left: auto;
		margin-bottom: 0;
	}

	margin: 0;
	margin-bottom: 23px;

	&__item {
		margin-left: 20px;

		&:first-child {
			margin-left: 0px;
		}
	}
}

.dowloads {
	@include for-large-up {
		margin-top: 36px;
		justify-content: left;
	}

	display: flex;
	justify-content: center;

	&__item {
		margin-right: 10px;
	}
}

.additional-navigation {
	display: flex;
	margin-left: 15px;
	flex-direction: column;
	padding-top:60px ;

	@include for-large-up {
		margin-left: 126px;
		flex-direction: row;
	}

	&__column {
		margin-bottom: 25px;
		margin-right: 29px;

		@include for-large-up {
			margin-bottom: 0px;
			margin-right: 29px;
		}
	}
}

.nav-links {
	width: 265px;

	&__title {
		color: $color-reset-body;
		font-size: 22px;
		font-weight: 700;
		margin: 0;
	}

	&__list {
		padding: 0;
		margin: 18px 0 0 0;
	}

	&__list-item {
		color: $text-color-light-grey;
		font-size: 18px;
		line-height: 35px;
		list-style-type: none;
	}
}

.logo-footer {
	margin: 0;
}

.logo-vertikal {
	@include for-large-up {
		display: none;
	}

	display: flex;
	flex-direction: column;
	align-items: center;

	&__text {
		margin: 20px 0 32px 0;
		text-align: center;
	}

	&__name {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.5;
	}

	&__description {
		color: $text-color-light-grey;
		font-size: 18px;
		line-height: 1.5;
	}
}

.about-company {
	padding-top: 43px;
}