@import 'breakpoints.scss';
@import 'variables.scss';

@import 'reset.scss';
@import 'audiences.scss';
@import 'order.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'footer.scss';
@import 'tips.scss';

/* _____________________________________ */

.page {
  width: 100%;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    max-width: 1400px;
    margin: auto;
  }

}

.top-section {
  background-color: #f3c6bd;
  flex: 1 1 auto;

  @include for-large-up {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}