$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-blue: #3142c6;
$text-color-orange: #f1592b;

$color-light: #f4f5f7;
$color-reset-body: #2b292d;
$color-white: #fff;
$color-black: #000;
$back-color: #f3c6bd;
$back-inbox-color: #fcf0e3;
$audince-back-color: #00a1c612;

$border-color: #2b292d33;
$bottom-color: #e3e3e3;
